<!-- <p>view-employees works!</p> -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">Users_id</th>
            <th scope="col">Users_name</th>
            <th scope="col">First_name</th>
            <th scope="col">Last_name</th>
            <th scope="col">email</th>
        </tr>
        <!-- users_id | users_name | password | first_name | last_name |     email     | users_role_id -->
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>a</td>
            <td>a</td>
            <td>b</td>
            <td>abu@gmail.com</td>
        </tr>
        <!-- 1 | a          | 1111     | a          | b         | abu@gmail.com |             1 -->
    </tbody>
</table>